<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.innovation.studio.moviepop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.innovation.studio.moviepop.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.innovation.studio.moviepop.MovieDetailActivity"
            android:label="Movie Details"
            android:parentActivityName="com.innovation.studio.moviepop.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.innovation.studio.moviepop.MainActivity"/>
        </activity>

        <service
            android:name="com.innovation.studio.moviepop.data.MovieService"
            android:exported="false"/>

        <service
            android:name="com.innovation.studio.moviepop.data.FavoriteService"
            android:exported="false"/>

        <provider
            android:name="com.innovation.studio.moviepop.data.MoviesProvider"
            android:authorities="com.innovation.studio.moviepop"
            android:exported="false"/>
    </application>
</manifest>